@model CSFinder.Models.StudentAccount
@{
    ViewData["Title"] = "RegisStudent";
}


@using (Html.BeginForm("RegisStudent", "RegisLogin", FormMethod.Post))
{ 
        
        <div class="RegisStudent">
            <table>
                <tr>
                    <td>@Html.LabelFor(a => a.account.ID)</td>
                    <td>@Html.TextBoxFor(a => a.account.ID)</td>
                    <td>@Html.ValidationMessageFor(a => a.student.ID)</td>
                </tr>
            </table>
        </div>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.account.Password)</td>
                <td>@Html.PasswordFor(a => a.account.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.account.Password)</td>
            </tr>
        </table>
    </div>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.confirmPassword)</td>
                <td>@Html.PasswordFor(a => a.confirmPassword)</td>
                <td>@Html.ValidationMessageFor(a => a.confirmPassword)</td>
            </tr>
        </table>
    </div>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.student.SID)</td>
                <td>@Html.TextBoxFor(a => a.student.SID)</td>
                <td>@Html.ValidationMessageFor(a => a.student.SID)</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.student.Name)</td>
                <td>@Html.TextBoxFor(a => a.student.Name)</td>
                <td>@Html.ValidationMessageFor(a => a.student.Name)</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.student.Email)</td>
                <td>@Html.TextBoxFor(a => a.student.Email)</td>
                <td>@Html.ValidationMessageFor(a => a.student.Email)</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.student.Phone)</td>
                <td>@Html.TextBoxFor(a => a.student.Phone)</td>
                <td>@Html.ValidationMessageFor(a => a.student.Phone)</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="RegisStudent">
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.student.Detail)</td>
                <td>@Html.TextBoxFor(a => a.student.Detail)</td>
                <td>@Html.ValidationMessageFor(a => a.student.Detail)</td>
            </tr>
        </table>
    </div>
    <br>
    <tr>
        <td>
            <input type="submit" value="Register" /> <b>
        </td>
    </tr>
}
